* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #dfe7fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 800px;
  height: 500px;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.signin-signup {
  width: 100%;
  display: flex;
  position: relative;
}

.sign-in-form {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: #fff;
}

.sign-in-form .title {
  font-size: 30px;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons .icon {
  background-color: rgb(236, 233, 233);
  border-radius: 5px;
  margin: auto;
  padding: 15px 16px;
  text-decoration: none;
  color: #333;
}

.social-icons .icon:hover {
  background-color: #e0e0e0;
}

.text {
  font-size: 14px;
  color: #555;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.forgot {
  font-size: 13px;
  color: #555;
  text-decoration: none;
  align-self: flex-end;
}

.btn {
    width: 100px;
    height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #230794;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #290b96;
}

.panel {
  width: 400px;
  height: 500px;
  background-color: #260c8f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 35% 0 0 30% ;
  border-top-left-radius: 100px;
}

.panel .content {
  text-align: center;
}

.panel .content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.panel .content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.btn.transparent {
  background: transparent;
  border: 2px solid white;
  color: white;
}
.btm {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: #3613b3;
  background-color: #3918be;
  color: white;
  cursor: pointer;
}
form h2{
    display: flex;
    padding-left: 90px;
}